@import 'core/navigation/navigation_bar';

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url('/static/img/background.svg');
}

.hashtag-chip {
    margin: 2.5px 2.5px;
    font-family: benton-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.recommendation-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

    .recommendation-card-content {
        background-color: #f0f0f0;
        border: 1px solid #e0e0e0;
        text-align: center;
    }
}

#extract-section {
    font-family: benton-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

#summary-section {
    font-family: benton-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

#audio-section {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#hashtag-section {
    font-family: benton-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#footnote-section {
    font-family: benton-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

#similar-articles-subtitle {
    font-family: benton-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}

#recommendations-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
